* {
    margin: 0;
    padding: 0;
}

#check {
    display: none;
}

body {
    background-color: #000000;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

#check:checked~.div1 .navbar ul {

    display: block;
}

#choose:checked~.div1 .navbar ul {
    display: block;
    color: black;
}

/* ==========================================responsiveness mainPage================================================================ */
@media screen and (max-width:600px) {
    .navbar {
        height: 60px;
    }

    .navbar img {
        height: 25px;
    }

    #button i {
        font-size: 20px;
    }

    .navbar .list {
        display: none;

        background-color: rgba(250, 250, 170, 0.543);
        color: #000000;
        font-weight: bold;
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        padding: 20px;

    }

    .navbar .list a {
        color: black;
    }

    .navbar .list li {

        padding: 2px;
    }

    .navbar #button label {
        display: block;
    }

    .div2 {
        margin-top: 100px;
    }

    .div2 h1 {
        font-size: 50px;
    }

    .div3 h1 {
        font-size: 60px;
    }

    .div3 img {
        width: 500px;
    }

    .div4 {
        margin-top: 100px;
    }

    .div4 h1 {
        font-size: 20px;
    }

    #dib51 {
        /* width: 500px; */
        margin-right: 30px;
    }
    #dib51 img{
        width: 100%;
    }


    .div5 #dib52 h1 {
        font-size: 50px;
    }

    .div5 #dib52 p {
        font-size: 20px;
        margin-right: 20px;
    }

    .div5 #dib52 button {
        height: 45px;
    }
    .div6 p{
        margin-right: 20px;
    }
    .div7 div h1{
        font-size: 63px;
        margin-right: 10px;
    }
    .div7 div p{
        font-size: 18px;
    }
        
    #mini {
        font-size: 100px;
    }


}

@media screen and (max-width:600px) {
    .div4 {
        flex-direction: column;
    }

    .div5 {
        flex-direction: column;
    }

    .div6 {
        flex-direction: column;
    }

    .div7 {
        flex-direction: column;
    }
    .div7 button{
        margin-bottom: 20px;
    }
    .div8 h1{
        
    }
    .vidb {
        flex-direction: column;
        display: block;

    }

    .david1 {
        flex-direction: column;
    }

    .davidA h1 {
        font-size: 25px;
    }

    .davidA p {
        font-size: 15px;
    }

    .side #i1 {
        width: 400px;
        margin-left: -18px;
    }

    .side {
        margin-left: 20px;
    }

    .side #i2 {
        position: relative;
        width: 400px;
        /* margin-left: -30px; */
        margin-bottom: 31px;
    }

    /* .div8{
        flex-direction: column;
    } */
    .div9 {

        flex-direction: column;
    }

    .Footer {
        flex-direction: column;
        justify-content: center;

    }

    .f1 {
        padding-left: 50px;
    }

    .f2 {
        padding-left: 50px;
    }

    .f1 #Idiv {
        padding-left: 50px;
    }

    .c {
        flex-direction: column;
    }
}

/*=================================================  responsiveness mainPage End ========================================================*/


/* ==============================================responsiveness productpage Start====================================================== */

@media screen and (max-width:600px) {
    .dev1 {
        flex-direction: column;
    }

    .dev2 {
        flex-direction: column;
    }

    .div2A img {
        /* width:550px; */
        /* padding-right: 10px; */
        width: 100%;

    }

    /* .productq{
    
    } */
    .productq input {
        width: 80px;
    }

   .divbuy .buy button {
     height: 100px;
    }

    .Grid {
        flex-direction: column;
        background-size: cover;
    }
    .Grid3{
       
      
    }
}









/* ==============================================Responsiveness ProductPage End======================================================== */
/* ================================================Responsiveness Checkout================================= */

@media screen and (max-width:600px) {
    .checkinfo {
        flex-direction: column;
    }
    .cityinput .i2{
        width: 100%;
    }

}



/* ================================================Responsiveness Checkout End ================================= */
/* ================================================Responsiveness Ordersummary Start ================================= */



@media screen and (max-width:600px ) {
  
    .coontain h1{
       font-size: 10px;
    }
    .drone{
     /* flex-wrap: nowrap; */
    }
    .coontain2{
      flex-wrap: wrap;
      /* display: inline; */
     
    }
    .order{
     
       /* display: inline; */
       /* justify-content: center; */
    }
    
}












/* ================================================Responsiveness Ordersummary End ================================= */


/* --------------------------------------------- shipping Details------------------------------------------- */
#Form {
    background-image: url(newimg/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.checkinfo {

    /* background-color: rgb(147, 125, 125); */
    /* margin: 50px; */
    display: flex;
    justify-content: center;
    gap: 100px;

}

.checkinfo h4 {
    color: rgb(0 4 106);

    font-family: "Rubik", sans-serif;
    font-size: 40px;
    text-align: start;
}

.checkinfo p {
    font-family: "Public Sans", sans-serif;
    font-size: 20px;
    text-align: center;
}

.checkinfo input {
    background-color: rgba(255, 255, 255, 0.271);
    color: rgb(0 4 106);
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-left: 20px;
    border: 1px solid rgb(0 4 106);
    border-radius: 10px 2px;
    height: 30px;
    width: 300px;
}

.checkinfo #radio {
    margin: 20px;
    height: 20px;
    width: 50px;
}

.divy {
    /* background-color: rgb(188, 188, 0); */
    /* background-color:rgb(246, 149, 22); */
    margin: 10px;


}

.Proceed {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(50, 0, 150);

    font-family: "Public Sans", sans-serif;
    margin-top: 20px;


}

.Proceed button {
    background-color: #fff82f;
    margin: 5px;

    height: 40px;
    width: 300px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 0.2ch;
    border-radius: 9px;
    margin-bottom: 30px;
    border: none;
}

.Proceed button:hover {
    background-color: #f4f4f4;
    width: 350px;
    transition-duration: 0.5s;
}

.divy1 {
    border-radius: 20px 5px;
    background-color: rgba(255, 255, 255, 0.271);
    margin: 10px;
    padding: 20px;
    display: flex;
    justify-content: start;



}

.checkinfo label {

    font-family: "Public Sans", sans-serif;
    margin-left: 10px;
    font-size: 20px;

}

.divy2 {
    border-radius: 5px 20px;
    margin: 10px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.271);

}

.divy3 {
    border-radius: 20px 5px;
    background-color: rgba(255, 255, 255, 0.271);
    margin: 10px;
    padding: 20px;

    display: flex;

}

.shipinfo {
    border-radius: 5px 20px;
    background-color: rgba(255, 255, 255, 0.271);
    margin: 10px;
    padding: 20px;
}

.shipinfo h3 {
    font-size: 25px;
    margin: 5px;
}

.city {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* margin: 10px; */

    padding: 20px;
    background-color: rgba(255, 255, 255, 0.271);
    display: flex;
    justify-content: space-evenly;

}

.cityinput {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 5px;
    /* margin: 10px; */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.271);
    display: flex;

}



.order {
    border-radius: 10px;
    /* position: fixed;
    direction: 5px; */
    position: sticky;
    top: 200px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    background-color: rgb(255, 255, 255);

}

.order h5 {
    color: rgb(0 4 106);
    font-family: "Rubik", sans-serif;
    font-size: 30px;

}

.order p {
    font-family: "Public Sans", sans-serif;
    font-size: 25px;
}

.subT {
    margin: 10px;
    display: flex;
    gap: 40px;
}

.flat {
    margin: 10px;
    display: flex;
    gap: 40px;
}

.Total {
    margin: 10px;
    display: flex;
    gap: 85px;
}

.Total p {
    font-family: "Public Sans", sans-serif;
    color: blue;
}



.sidew {

    background-color: black;
}

/*----------------------------------------------shipping details---------------------------------------------- */





/* ================================================ === Order SummArry Css === =========================------------------------ */


.OrderSummary {
    background-image: url(newimg/pay3back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(255, 255, 255);
    /* display: flex;
    justify-content: center;
    /* border: 1px solid; */
    /* margin-left: 150px;
    margin-right: 150px;  */
}

.OrderSummary h1 {
   
}

.coontain {
    display:inline;
    
    justify-content: center;
    margin-top: 30px;
    /* margin-left: 300px;
    margin-right: 300px; */
    align-items: center;
    text-align: center;
    /* margin: 40px; */
}

.coontain h1 {
    margin-top: 20px;
    font-size: 50px;
    text-align: center;
    font-family: "Rubik", sans-serif;
    color: rgb(0 4 106);
}

.drone {
    box-shadow: #216161fa 10px 3px 22px -2px;
    position: relative;
    margin: 30px;
    padding: 10px;
    border-radius: 20px 10px;
    background-color: rgba(255, 255, 133, 0.262);
    /* border: 1px solid; */
    display: flex;
    /* justify-content: start; */
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.drone p {
    font-family: "Public Sans", sans-serif;
    padding: 10px;
    font-weight: bold;
    background-color: rgb(239, 175, 81);
    text-align: center;
}

.drone h3 {
  
    font-family: "Rubik", sans-serif;
    font-size: 30px;
}

.drone h4 {
    font-family: "Rubik", sans-serif;
    font-size: 25px;
}

.drone img {
    height: 70px;
}

.coontain2 {
    box-shadow: #216161fa 10px 3px 22px -2px;
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 50px 20px;
    background-color: rgba(255, 255, 255, 0.285);
    /* background-color: rgb(255 255 255 / 10%); */
}

.coon1 {

    display: flex;
    justify-content: center;
    align-items: self-start;
    margin: 50px;
}

.coon1 input {
    font-family: "Public Sans", sans-serif;
    height: 35px;
    width: 200px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.5ch;
    padding: 3px;
    border: none;
    background-color: rgba(212, 214, 249, 0.443);

}

#cred {
    font-size: 22px;
    position: relative;
    left: 55px;


}

.coon1 button {
    font-family: "Rubik", sans-serif;
    font-weight: bold;
    border: none;
    height: 40px;
    width: 70px;
    letter-spacing: 0.5ch;
    padding: 5px;
    color: white;
    background-color: rgb(51, 54, 129);

}

.order {
    background-color: rgb(255 255 255 / 10%);
    border-radius: 10px;
    /* position: fixed;
    direction: 5px; */
    position: sticky;
    top: 200px;
    margin: 20px;
    padding: 20px;
    text-align: center;



}

.order h5 {
    color: rgb(0 4 106);
    font-family: "Rubik", sans-serif;
    font-size: 20px;

}

.order p {
    font-family: "Public Sans", sans-serif;
    font-size: 20px;
}

.subT {
    margin: 10px;
    display: flex;
    gap: 40px;
}

.flat {
    margin: 10px;
    display: flex;
    gap: 40px;
}

.Total {
    margin: 10px;
    display: flex;
    gap: 85px;
}

.Total p {
    font-family: "Public Sans", sans-serif;
    color: blue;
}


.shipmethod {
    border-radius: 5px 50px;
    background-color: rgb(255 255 255 / 10%);
    box-shadow: #216161fa 10px 3px 22px -2px;
    margin: 10px;
    padding: 20px;
    gap: 30px;

}

.shipmethod input {
    font-family: "Public Sans", sans-serif;
    background-color: rgba(255, 255, 255, 0.669);

    text-align: center;
    color: rgb(0, 0, 0);
    margin-left: 20px;
    border: 1px solid rgb(0 4 106);
    border-radius: 10px 2px;
    height: 30px;
    width: 300px;
    margin-top: 10px;

}

.shipmethod input {
    font-family: "Public Sans", sans-serif;
    font-size: 25px;
    color: rgb(69, 0, 0);

}

.shipmethod #radio {
    background-color: black;
    color: black;
    margin: 20px;
    height: 20px;
    width: 50px;
}

.shipmethod h4 {
    color: rgb(0 4 106);
    border-radius: 50px 10px;
    /* background-color: rgba(255, 255, 255, 0.332); */
    font-family: "Rubik", sans-serif;
    font-size: 40px;
    text-align: center;
}

.shipmethod h3 {
    font-family: "Rubik", sans-serif;
    font-size: 35px;
    /* color: rgb(0, 255, 136); */
    color: rgb(246, 119, 0);
}

.shipmethod img {
    height: 30px;
    border-radius: 50px;

}

.shipmethod #Pytm {

    height: 50px;
    position: relative;
    top: 13px;
    right: 35px;
}

.shipmethod #rupy {
    height: 60px;
    position: relative;
    top: 20px;
    right: 35px;

}

.shipmethod #phonpe {
    position: relative;
    top: 5px;
    right: 30px;
}

.bttn {
    display: flex;
    justify-content: center;
}

.placeorder {
    font-family: "Rubik", sans-serif;
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 255, 255, 0.709);
    /* position: fixed; */
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 407px;
    font-size: 30px;
    font-weight: bold;
}

.placeorder:hover {
    border-radius: 10px;
    background-color: #fcff56;
    transition-duration: 0.8s;
}






/* ================================================ === Order SummArry Css End === =========================------------------------ */
/* ==========================================Responsiveness Thankyou  :start================================= */
@media screen and (max-width:600px) {
    .thanks{
        background-image: url(newimg/fly2.webp);
        background-repeat: no-repeat;
        background-size: cover;

    }
    .confirm img {
     
        flex-direction: column;
        margin-bottom: 60px;

    }

    .thankcode h3 {
        margin-top: 20px;
        color: #0047a4;
        font-size: 20px;
    }

    .thankcode p {
        color:#360437;
        margin-top: 10px;
        font-size: 10px;
    }

    .thankYou h5 {
        /* color: rgba(255, 255, 255, 0.87); */
        color: rgb(73 110 255);
    }
    .thankYou h5:hover{
        /* color: rgba(105, 0, 0, 0.87); */

    }

}




/* ==========================================Responsiveness Thankyou  End ================================= */

/*==================================================Thankyou page css-------------------------------------------======================= */
.thanks {

    background-image: url(newimg/fly3.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

#fly {
    height: 400px;
}

/* .thankYou{
   
   margin: 300px; */
/* border-radius:30%;    
} */
.confirm {

    display: flex;
    justify-content: center;
    align-items: center;
}

.confirm img {
    height: 200px;
}

.thankcode {

    text-align: center;
}

.thankcode h3 {
    font-family: "Rubik", sans-serif;
    font-size: 50px;
}

.thankcode p {
    font-family: "Public Sans", sans-serif;
    font-size: 30px;
}

.paid {

    text-align: center;

}

.paid img {

    margin-top: 30px;
    height: 300px;
    border-radius: 100%;
}

.thankYou h5 {
    margin-top: 250px;
    color: rgba(153, 51, 146, 0.679);
    text-align: center;

    font-size: 40px;

}

.thankYou h5:hover {
    color: rgb(33, 0, 248);
    transition-duration: 0.5s;
}





/*==================================================Thankyou page cssEnd  -------------------------------------------======================= */








/* -----------------=-----------------------------------------Product page css ----------------------------------------------------------------------------------------------- */

#choose {
    display: none;
}

.probody {
    background-color: white;

    margin: 0;
    padding: 0;
}

.dev1 {
    border-bottom: 1px solid rgba(46, 51, 193, 0.488);
    position: sticky;
    z-index: 9999;
    top: 0%;
}



img {
    height: 43px;
}

.devbar {
    padding: 30px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    color: rgba(217, 2, 2, 0.75);
    align-items: center;
}

.plist {
    color: black;
    font-size: 23px;
    font-family: "Roboto", sans-serif;
    display: flex;
    gap: 30px;
    list-style: none;

}

.plist a {
    color: black;
}

.plist :hover {
    color: rgb(255, 0, 0);
    font-size: 25px;
    text-decoration: underline rgb(250, 250, 170);
}

#probutton {
    /* background-color: black; */

    display: flex;
    gap: 34px;
    font-size: 25px;
    padding-right: 50px;
}

#probutton li {
    color: black;
    list-style: none;
    text-align: center;
}

.i1:hover {
    color: #f70000;
    font-size: 30px;
}

.i2:hover {
    color: #78d0f6;
    font-size: 35px;
}

.i3:hover {
    color: #f0ff18;
    font-size: 30px;
}

#probutton label {
    color: white;
    display: none;
}

.dev2 {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 40px;
    background-color: white;
}

.div2A img {
    /* width: 100%; */
    /* margin-left: 30px; */
    height: 700px;
}

.div2b {
    margin-right: 30px;
}

.dev2 h1 {
    font-family: "Rubik", sans-serif;
    color: rgb(0 4 106);
    font-size: 50px;
}

.dev2 #p1 {
    color: #FEC202;

    margin-top: 20px;
    font-family: "Public Sans", sans-serif;
    font-size: 20px;
}

.dev2 #price {
    color: rgb(0 4 106);
    font-size: 50px;
    margin-top: 20px;
    font-family: "Public Sans", sans-serif;
}

.dev2 #p2 {
    color: rgba(36, 36, 41, 0.837);
    margin-top: 20px;
    font-size: 24px;
    font-family: "Public Sans", sans-serif;
}

.divbuy {
    display: flex;
}

.divbuy .productq {
    display: flex;
    border-top: 1px solid #FF6B31;
    border-bottom: 1px solid #FF6B31;
    border-radius: 5px;

    margin-top: 20px;
}

.divbuy .productq button {
    border-color: #ff6b31a9;
    border-radius: 5px;
    /* border-top-left-radius: 5px; */
    height: 55px;
    width: 35px;
}

.divbuy .productq #b1 {
    border-right: none;
    border-left: none;
}

.divbuy .productq #b2 {
    border-right: none;
    border-left: none;
}

.divbuy .productq input {
    border: none;
    font-size: 20px;
    font-weight: bold;

    text-align: center;
    height: 50px;
}

.divbuy .buy button {
    background-color: #FF6B31;
    font-size: 25px;
    color: white;
   
    border-radius: 9px;
    margin-left: 30px;
    margin-top: 20px;
    height: 55px;
    width: 400px;
    border: none;
}


.divbuy .buy button:hover {
    color: black;
    border: none;
    background-color: rgba(252, 221, 221, 0.838);
    border: 1px solid black;
    transition-duration: 0.5s;
}

.share {
    padding: 30px;
    padding-left: 10px;
    display: flex;
    gap: 30px;
}

.share h1 {
    font-size: 35px;
}

.share i {
    padding: 5px;
    font-size: 30px;
    color: #000000;
    background-color: rgba(255, 255, 255, 0.915);
    border-radius: 45px;
    border: none;

}

.share i:hover {
    font-size: 40px;
    padding: 0%;
    border-radius: 0%;
    background-color: rgb(255, 255, 255);
    border: none;
    position: relative;
    transition-duration: 0.3s;
    top: 5px;
    left:5px;

}

.h2o {
    font-family: "Rubik", sans-serif;
    color: rgb(0 4 106);
    margin: 20px;
    font-size: 40px;
    text-align: center;
}

.Grid {
    margin-top: 30px;
    display: grid;
    grid-gap: 1rem;
    background-size: cover;
    height: 80vh;
    grid-template-columns: 2fr 3fr;

}

.Grid .ch1 {
    background-image: url(newimg/battery.jpg);
    background-size: cover;
    /* grid-column-start: 1;
    grid-column-end: 2; */
    background-color: #3b3e40;
    background-position: center;
    background-repeat: no-repeat;


}

.Grid .ch1 h2 {
    font-family: "Rubik", sans-serif;
    margin-top: 20px;
    font-size: 30px;
    text-align: start;
    color: white;
}

.Grid .ch1 p {
    font-family: "Public Sans", sans-serif;
    ;
    font-size: 20px;
    text-align: center;
    margin: 20px;
    color: white;
}

.Grid .ch2 h1 {
    font-family: "Rubik", sans-serif;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 30px;
    text-align: start;
    color: white;
}

.Grid .ch2 p {
    font-family: "Public Sans", sans-serif;
    ;
    font-size: 20px;
    text-align: center;
    margin: 20px;
    color: white;
}



.Grid .ch2 {
    background-image: url(newimg/ocean.jpg);
    background-color: #3b3e40;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;



}

.Grid2 {
    margin-top: 30px;
    margin-bottom: 30px;
    display: grid;
    grid-gap: 1rem;
    height: 80vh;
    background-size: cover;
    grid-template-columns: 3fr 2fr;

}

.Grid2 .ch3 {
    background-image: url(newimg/remote.jpg);
    background-size: cover;
   

}

.Grid2 .ch3 h1 {
    font-family: "Rubik", sans-serif;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 30px;
    text-align: start;
    color: rgb(255, 255, 255);
}

.Grid2 .ch3 p {
    font-family: "Public Sans", sans-serif;
    font-size: 20px;
    text-align: start;
    margin: 20px;
    color: white;
}

.Grid2 .ch4 {
    background-image: url(newimg/treebetween.jpg);
    background-size: cover;
    grid-gap: 1rem;
}

.Grid2 .ch4 h1 {
    font-family: "Rubik", sans-serif;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 30px;
    text-align: start;
    color: white;
}

.Grid2 .ch4 p {
    font-family: "Public Sans", sans-serif;
    font-size: 20px;
    text-align: center;
    margin: 20px;
    color: white;
}

.Grid3 {
    margin-top: 30px;
    /* margin-bottom: 0px; */
    display: grid;
   
    grid-gap: 1rem;
    /* height: 60vh; */
    background-size: cover;
    grid-template-columns: 5fr;
}


.Grid3 .ch5 {
    background-image: url(newimg/full.jpg);

    background-repeat: no-repeat;
    background-size: cover;
    grid-gap: 1rem;
    height: 100vh;

}

.Grid3 .ch5 h1 {
    font-family: "Rubik", sans-serif;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 30px;
    text-align: start;
    color: white;
}

.Grid3 .ch5 p {
    font-size: 20px;
    font-family: "Public Sans", sans-serif;
    text-align: start;
    margin: 20px;
    color: white;
}







/* --------------------------------------------------------Product page css end  ------------------------------------------------------------------*/
/* --------------------------------------------------------main page css start  ------------------------------------------------------------------*/

.div1 {
    position: sticky;
    z-index: 9999;
    top: 0%;
}



img {
    height: 43px;
}

.navbar {
    padding: 30px;
    background-color: black;
    display: flex;

    justify-content: space-between;
    color: rgba(255, 255, 255, 0.75);
    align-items: center;
}

.list {

    font-size: 23px;
    font-family: "Roboto", sans-serif;
    display: flex;
    gap: 30px;
    list-style: none;

}

.list a {
    color: rgba(255, 255, 255, 0.75);
}

.list :hover {
    color: white;
    font-size: 25px;
    text-decoration: underline rgb(250, 250, 170);
}

#button {
    display: flex;
    gap: 34px;
    font-size: 25px;
    padding-right: 50px;
}

#button li {
    color: #f4f4f4;
    list-style: none;
    text-align: center;
}

.i1:hover {
    color: #f70000;
    font-size: 30px;
}

.i2:hover {
    color: #78d0f6;
    font-size: 35px;
}

.i3:hover {
    color: #f0ff18;
    font-size: 30px;
}

#button label {
    color: white;
    display: none;
}

.div2 {
    font-family: "Rubik", sans-serif;
    color: rgb(250, 250, 170);
    background-color: rgb(0, 0, 0);
    text-align: center;
    font-size: 60px;
    padding-top: 90px;

}

.buy1 {
    /* position: relative; */
    /* bottom: 95px;*/
    background-color: rgb(250, 250, 170);
    color: rgb(3, 3, 35);
    border: none;
    border: 1px solid;
    border-radius: 33px;
    height: 62px;
    width: 200px;
    font-size: 21px;
    font-family: "Rubik", sans-serif;
}

.buy1:hover {
    background-color: white;
    font-weight: bold;
    transition-duration: 0.5s;
}

.div2 h6 {
    font-family: "Public Sans", sans-serif;
    font-size: 34px;
    color: #ffffff;
    font-weight: lighter;

}

.sado1 {
    font-size: 200px;
    text-align: center;
    color: rgba(56, 56, 86, 0.479);
}

.div3 {
    /* position: relative; */
    background-color: rgb(0, 0, 0);
    /* display: flex; */
    justify-content: center;
    text-align: center;

}

.div3 img {

    /* padding-left: 60px; */
    height: 420px;
    /* justify-content: center; */
    position: absolute;
    right: 38px;
    top: 600px;
}

.div4 {
    /* padding-top: 60px;
    padding-left: 30px;
    padding-right: 30px; */
    padding: 50px;
    padding-top: 200px;
    padding-bottom: 150px;
    display: flex;
    justify-content: space-around;
    gap: 100px;
    font-family: "Public Sans", sans-serif;
    background-color: rgb(255, 255, 255);
}

.div4 i {
    align-items: center;
    font-size: 44px;
    color: rgb(161, 161, 30);

}

.div4 h1 {
    font-size: 40px;
    align-items: center;
    color: rgb(42, 1, 1);

}

#ch {
    font-family: "Rubik", sans-serif;
    color: rgba(31, 2, 2, 0.641);
    font-size: 20px;
}

.div5 {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding-top: 100px;
    background-color: #00000000;
}

#dib51 {
    margin-left: 25px;
    border-radius: 15px;
    background-color: #c8cb40;
}

#dib51 img {
    width: 100%;
    position: relative;
    top: 20px;
    left: 20px;
    height: 400px;
    border-radius: 15px;

}

#dib52 {
    padding-left: 30px;
    color: white;
}

#dib52 h1 {
    font-family: "Rubik", sans-serif;
    padding-left: 50px;
    font-size: 70px;
}

#dib52 p {
    font-family: "Public Sans", sans-serif;
    color: rgba(245, 250, 255, 0.778);
    /* position: relative;
    bottom: 30px; */
    padding-left: 52px;
    font-size: 24px;
}

#dib52 button {
    background-color: rgb(255, 237, 156);
    color: #000000;
    margin-top: 45px;
    margin-left: 57px;
    height: 68px;
    width: 180px;
    border: none;
    border-radius: 35px;
    font-size: 20px;
}

#dib52 button:hover {
    background-color: white;
    transition-duration: 0.5s;

}

h2 {
    font-family: "Rubik", sans-serif;
    color: #373732b5;
    font-size: 220px;
    padding-left: 60px;
}

.div6 {
    gap: 100px;
    display: flex;
    justify-content: center;
    background-color: white;
}

.div6 h1 {
    padding-top: 100px;
    padding-left: 30px;
    font-family: "Rubik", sans-serif;

    font-size: 65px;

}

.div6 p {
    color: #000000a3;
    font-size: 20px;
    font-family: "Public Sans", sans-serif;
    padding-left: 30px;
}

.div6 img {
    padding-top: 80px;
    height: 500px;
}

.div6 button {
    margin-top: 40px;
    margin-left: 30px;
    height: 68px;
    width: 180px;
    border: none;
    border-radius: 35px;
    background-color: rgb(255, 237, 156);
    font-size: 20px;

}

.div6 button:hover {
    background-color: black;
    color: rgb(255, 237, 156);
    transition-duration: 0.5s;
}

.div7 {
    gap: 100px;
    /* position: relative;
    bottom: 470px; */
    padding-top: 30px;
    background-color: white;
    display: flex;
    justify-content: center;

}

.div7 img {
    padding-left: 40px;
    height: 500px;
}

.div7 h1 {
    padding-left: 30px;
    font-family: "Rubik", sans-serif;

    font-size: 65px;

}

.div7 p {
    color: #000000a3;
    font-size: 20px;
    font-family: "Public Sans", sans-serif;
    padding-left: 30px;
}

.div7 button {
    margin-top: 40px;
    margin-left: 30px;
    height: 68px;
    width: 180px;
    border: none;
    border-radius: 35px;
    background-color: rgb(255, 237, 156);
    font-size: 20px;

}

.div7 button:hover {
    background-color: black;
    color: rgb(255, 237, 156);
    transition-duration: 0.5s;
}

.vidb {
    background-image: url(images/video-background.jpg);
    background-position: center;
    background-size: cover;
    height: 550px;

}

.vidb h1 {
    font-family: "Rubik", sans-serif;
    text-align: start;
    font-size: 70px;
    padding: 30px;
    color: rgba(146, 130, 130, 0.651);
}

.vidb i {
    width: 100%;
    padding-top: 80px;
    text-align: center;
    align-items: center;
    font-size: 100px;
    /* padding-left: 700px;     */
    color: rgba(226, 210, 210, 0.605);
}

.vidb i:hover {
    /* font-size:110px ; */
    color: #907a3fd4;
    transition-duration: 0.5s;
}




.div8 {
    padding: 60px;
    background-color: #000000;
    color: white;
    text-align: center;
}

.div8:hover {
    color: rgb(255, 237, 156);
    transition-duration: 0.5s;
}

.div8 h1 {
    text-align: center;
    font-size: 70px;
    font-family: "Rubik", sans-serif;
}

.div8 p {
    padding-top: 30px;
    font-size: 30px;
    color: rgba(245, 245, 245, 0.705);
}

/* *{
    margin: 0;
    padding: 0;
} */
.imp {
    /* padding-top: 100px; */
    margin-left: 30px;
    width: fit-content;
    /* display: flex; */

}

.seen1 {
    display: flex;

    justify-content: start;
    gap: 60px;
}

.seen2 {
    padding-top: 100px;
    display: flex;
    gap: 60px;
    padding-bottom: 30px;
}

.imp i {
    background-color: rgb(221, 221, 79);
    padding: 20px;
    font-size: 40px;
    border: none;
    border-radius: 200%;
}

.imp h1 {
    font-family: "Rubik", sans-serif;
    padding-top: 40px;
    font-weight: bolder;
}

.imp p {
    color: #00435fcc;
    font-family: "Public Sans", sans-serif;
    /* text-align: center; */
    padding-top: 20px;
    font-size: 25px;
}

.davidA #p2 {
    /* padding-top: 50px; */
    font-size: 25px;
}

.david1 {
    padding-top: 120px;

    display: flex;
    justify-content: space-between;
    gap: 200px;
    background-color: white;
}

.side {
    margin-right: 30px;

    background-color: rgb(221, 221, 79);
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;
}

.side #i1 {
    height: 300px;
    position: relative;
    bottom: 120px;
    left: 10px
}

.side #i2 {
    height: 400px;
    /* width: 550px; */
    width: 100%;
    position: relative;
    top: 35px;
  
}

.div9 {
    padding: 40px;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 10px;
}

.div9 i {
    color: gold;
    font-size: 25px;
    padding-left: 4px;

}

.div9A {
    font-family: "Rubik", sans-serif;
    background-color: rgba(89, 78, 78, 0.39);
    border: none;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    color: white;

}


.div9A img {
    border: none;
    padding-bottom: 20px;
    border-radius: 10px;
    height: 400px;
    width: 100%;

}

.div9A a {
    color: currentColor;
    cursor: pointer;
}

.div9A a:hover {
    color: rgb(0, 144, 201);
}

.div9A img:hover {

    border-radius: 100%;
    animation-name: disco;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes disco {

    30% {

        rotate: 20deg;
    }

    70% {

        rotate: -20deg;
    }
}

.div9A p {
    padding: 20px;
    font-family: "Public Sans", sans-serif;
    gap: 40px;
    font-size: 22px
}

.div9A del {
    font-family: "Public Sans", sans-serif;
    padding-left: 40PX;
    color: rgba(255, 255, 255, 0.625);
}

.Footer {

    padding-top: 40px;
    display: flex;
    gap: 20px;
    justify-content: center;
    color: white;
    background-color: rgb(23, 13, 56);
}

.Footer img {
    padding-top: 10px;
    height: 50px;
}

#Idiv {
    padding: 30px;
    padding-left: 10px;
    display: flex;
    gap: 30px;
}

#Idiv i {
    padding: 15px;
    font-size: 30px;
    color: #ffffff;
    background-color: rgba(69, 54, 120, 0.915);
    border-radius: 45px;
    border: none;

}

#Idiv i:hover {
    font-size: 40px;
    padding: 0%;
    border-radius: 0%;
    background-color: rgb(23, 13, 56);
    border: none;
    position: relative;
    transition-duration: 0.5s;
    top: 10px;
    left: 10px;

}

.f1 p {
    padding-top: 30px;
    font-family: "Public Sans", sans-serif;
    color: #ffffffc5;
    font-size: 22px;
}

.f1 p:hover {
    color: #d87c7cdf;
    transition-duration: 0.5s;
}

.f2 h1 {
    padding-top: 20px;
    font-family: "Rubik", sans-serif;
    font-size: 40px;
}

.f2 p {
    padding-top: 30px;
    font-family: "Public Sans", sans-serif;
    font-size: 20px;
    color: #ffffffc5;
}

.f2 p:hover {
    color: #d87c7cdf;
    transition-duration: 0.5s;
}

.f3 {
    padding-left: 50px;
}

.f3 h1 {
    padding-top: 20px;
    font-family: "Rubik", sans-serif;
    font-size: 40px;
}

.f3 p {
    padding-top: 30px;
    font-family: "Public Sans", sans-serif;
    font-size: 20px;
    color: #ffffffc5;
}

.f3 p:hover {
    color: #d87c7cdf;
    transition-duration: 0.5s;
}

.f4 {

    padding-top: 20px;
    padding-left: 60px;
}

.f4 h1 {
    font-size: 40px;
    font-family: "Rubik", sans-serif;
}

.f4 p {
    padding-top: 30px;
    color: #ffffffc5;
    font-size: 20px;
    font-family: "Public Sans", sans-serif;
}

.f4 p:hover {
    color: #d87c7cdf;
    transition-duration: 0.5s;
}

.sub {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.sub input {
    color: white;
    background-color: rgba(53, 36, 109, 0.88);
    text-align: center;
    font-size: 20px;
    padding-left: 10px;
    height: 53px;
    width: 300px;
    border-radius: 5px;
    border: none;
}

.sub #i1 {
    text-align: center;
    position: relative;
    left: 58px;
    top: 13px;
    color: rgba(255, 250, 250, 0.835);
    font-size: 25px;
    border-radius: 0px;
}

.sub button {
    background-color: tomato;
    justify-content: center;
    text-align: center;
    height: 52px;
    width: 50px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
}

.sub button:hover {
    background-color: white;
    transition-duration: 0.5s;
}

.c {
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: "Public Sans", sans-serif;
    font-size: 30px;
    text-align: center;
    position: relative;
    /* bottom: 1241px; */
    color: #ffffffc5;
    background-color: rgb(23, 13, 56);
}

/* --------------------------------------------------------main  page css end  ------------------------------------------------------------------*/