* {
    /* margin: 0; */
    padding: 0;
}

.div1 {
    position: sticky;
    top: 0%;
   

}

body {
    color: rgb(19, 0, 0);
    background-color: rgb(0, 0, 0);
}

img {
    height: 43px;
}

.navbar {
    background-color: black;
    display: flex;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.75);
    align-items: center;
}

.list {
    font-size: 23px;
    font-family: "Roboto", sans-serif;
    display: flex;
    gap: 30px;
    list-style: none;

}

.list :hover {
    color: white;
    font-size: 25px;
    text-decoration: underline rgb(250, 250, 170);
}

#button {
    display: flex;
    gap: 34px;
    font-size: 25px;
    padding: 45px;
}

#button li {
    color: #f4f4f4;
    list-style: none;
    text-align: center;
}

.i1:hover {
    color: #f70000;
    font-size: 30px;
}

.i2:hover {
    color: #78d0f6;
    font-size: 35px;
}

.i3:hover {
    color: #f0ff18;
    font-size: 30px;
}


.div2 {
    font-family: "Rubik", sans-serif;
    color: rgb(250, 250, 170);
    background-color: rgb(0, 0, 0);
    text-align: center;
    font-size: 60px;
    padding-top: 90px;

}

.buy1 {
    position: relative;
    bottom: 95px;
    background-color: rgb(250, 250, 170);
    color: rgb(3, 3, 35);
    border: 1px;
    border: 1px solid;
    border-radius: 33px;
    height: 62px;
    width: 200px;
    font-size: 21px;
    font-family: "Rubik", sans-serif;
    font-weight: normal;
}

.buy1:hover {
    background-color: white;
    font-weight: bold
}

.div2 h6 {
    position: relative;
    bottom: 76px;
    font-family: "Public Sans", sans-serif;
    font-size: 34px;
    color: #ffffff;
    font-weight: lighter;

}

.sado1 {
    position: relative;
    bottom: 265px;
    font-size: 200px;
    text-align: center;
    color: rgba(56, 56, 86, 0.479);
}

.div3 {
    position: relative;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;

}

.div3 img {
    padding-left: 60px;
    height: 400px;
    position: absolute;
}

.div4 {
    /* padding-top: 60px;
    padding-left: 30px;
    padding-right: 30px; */
    padding: 50px;
    display: flex;
    justify-content: space-around;
    gap: 100px;
    font-family: "Public Sans", sans-serif;
    background-color: rgb(255, 255, 255);
}

.div4 i {
    align-items: center;
    font-size: 44px;
    color: rgb(161, 161, 30);

}

.div4 h1 {
    font-size: 40px;
    align-items: center;
    color: rgb(42, 1, 1);

}

#ch {
    font-family: "Rubik", sans-serif;
    color: rgba(31, 2, 2, 0.641);
    font-size: 20px;
}

.div5 {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding-top: 100px;
    background-color: #00000000;
}

#dib51 {
    margin-left: 25px;
    border-radius: 15px;
    background-color: #c8cb40;
}

#dib51 img {
    position: relative;
    top: 20px;
    left: 20px;
    height: 400px;
    border-radius: 15px;

}

#dib52 {
    position: relative;
    bottom: 37px;
    padding-left: 30px;
    color: white;
}

#dib52 h1 {
    font-family: "Rubik", sans-serif;
    padding-left: 50px;
    font-size: 70px;
}

#dib52 p {
    font-family: "Public Sans", sans-serif;
    color: rgba(245, 250, 255, 0.778);
    position: relative;
    bottom: 30px;
    padding-left: 52px;
    font-size: 24px;
}

#dib52 button {
    background-color: rgb(255, 237, 156);
    color: #000000;
    margin-left: 57px;
    height: 68px;
    width: 180px;
    border: none;
    border-radius: 35px;
    font-size: 20px;
}
#dib52 button:hover{
    background-color: white;
    
}

h2 {
    font-family: "Rubik", sans-serif;
    color: #373732b5;
    font-size: 220px;
    position: relative;
    left: 325px;
    bottom: 200px;
    /* position: relative; */
}

.div6 {
    position: relative;
    bottom: 470px;
    gap: 100px;
    display: flex;
    justify-content: center;
    background-color: white;
}

.div6 h1 {
    padding-top: 100px;
    padding-left: 30px;
    font-family: "Rubik", sans-serif;

    font-size: 65px;

}

.div6 p {
    color: #000000a3;
    font-size: 20px;
    font-family: "Public Sans", sans-serif;
    padding-left: 30px;
}

.div6 img {
    padding-top: 80px;
    height: 500px;
}
.div6 button {
    margin-left: 30px;
    height: 68px;
    width: 180px;
    border: none;
    border-radius: 35px;
    background-color: rgb(255, 237, 156);
    font-size: 20px;

}
.div6 button:hover{
    background-color: black;
    color:rgb(255, 237, 156) ;
}

.div7 {
    gap: 100px;
    position: relative;
    bottom: 470px;
    padding-top: 30px;
    background-color: white;
    display: flex;
    justify-content: center;

}

.div7 img {
    padding-left: 40px;
    height: 500px;
}

.div7 h1 {
    padding-left: 30px;
    font-family: "Rubik", sans-serif;

    font-size: 65px;

}

.div7 p {
    color: #000000a3;
    font-size: 20px;
    font-family: "Public Sans", sans-serif;
    padding-left: 30px;
}

.div7 button {
    margin-left: 30px;
    height: 68px;
    width: 180px;
    border: none;
    border-radius: 35px;
    background-color: rgb(255, 237, 156);
    font-size: 20px;

}
.div7 button:hover{
    background-color: black;
    color:rgb(255, 237, 156) ;
}

.vidb {
    background-image: url(images/video-background.jpg);
    position: relative;
    bottom: 520px;
    height: 550px;
    align-items: center;
    /* display: flex; */
    justify-content: center;
}
.vidb h1{
    font-family: "Rubik", sans-serif;
    font-size: 70px;
    padding: 30px;
    color:rgba(146, 130, 130, 0.651);
}
.vidb i{
    font-size: 100px;
    padding-left: 700px;    
    color: rgba(226, 210, 210, 0.605);
}
.vidb i:hover{
    font-size:130px ;
    color: #907a3fd4;
}

/* .vidb img {
    position: relative;
    bottom: 470px;
    height: 550px;
} */

.div8 {
    position: relative;
    bottom: 400px;
    background-color: #000000;
    color: white;
    text-align: center;
}
.div8:hover{
    color: rgb(255, 237, 156);
}

.div8 h1 {
    text-align: center;
    font-size: 70px;
    font-family: "Rubik", sans-serif;
}

.div8 p {
    font-size: 30px;
    color: rgba(245, 245, 245, 0.705);
}

.div9 {
    position: relative;
    bottom: 400px;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 10px;
}

.div9A {
    font-family: "Rubik", sans-serif;
    background-color: rgba(89, 78, 78, 0.39);
    border: 1px solid black;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    color: white;

}


.div9A img {
    border: 1px solid rgba;
    border-radius: 10px;
    height: 400px;

}
.div9A img:hover{
   
    border-radius: 100%;
    animation-name: disco;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes disco {
    
    30%{
        
        rotate: 20deg;
    }
   
    70%{
       
        rotate: -20deg;
    }
} 
.div9A p {
    font-family: "Public Sans", sans-serif;
    gap: 40px;
    font-size: 22px
}

.div9A del {
    font-family: "Public Sans", sans-serif;
    padding-left: 40PX;
    color: rgba(255, 255, 255, 0.625);
}

.div10 {
    /* padding: 0%; */
    position: relative;
    bottom: 400px;
    color: rgba(163, 118, 4, 0.348);
    background-color: white;
   
}

.div10 h1 {
    text-align: center;
    font-size: 200px;

}

.div10 h1:hover {
    color: rgba(139, 50, 222, 0.871);
}

.div10 img {
    position: relative;
    bottom: 950px;
    left: 500px;
    height: 700px;

}

.back {
    border-top-right-radius: 300px;
    border-top-left-radius: 300px;
    position: relative;
    left: 470px;
    bottom: 100px;

    background-color: rgba(231, 204, 136, 0.711);
    height: 700px;
    width: 550px;

}

.comment {
    border-left: 5px solid tomato;
    border-right: 2px solid tomato;
    border-radius: 20px;
    position: relative;
    right: 350px;
    bottom: 160px;
    height: 400px;
    width: 400px;
    background-color: white;
}

.comment:hover {
    height: 600px;

}

.comment p {

    color: rgb(5, 0, 0);
    padding: 10px;
    text-align: center;
    font-size: 30px;
}

.comment p:hover {
    font-size: 40px;
    color: #0016dfea;
}

.rew {
    font-family: "Rubik", sans-serif;
    position: relative;
    left: 600px;
    font-size: 60px;
    font-weight: bold;
    color: #000000;
}

.rew p {
    color: rgba(72, 64, 64, 0.827);
    position: relative;
    left: 400px;
    bottom: 400px;
}

.rew2 {

    position: relative;
    left: 900px;
    bottom: 200px;
    color: red;
}

.Footer {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 1200px;
    color: white;
    background-color: rgb(23, 13, 56);
}

.Footer img {
    height: 60px;
}

#Idiv {
    display: flex;
    gap: 30px;
}

#Idiv i {
    padding: 15px;
    font-size: 30px;
    color: #ffffff;
    background-color: rgba(69, 54, 120, 0.915);
    border-radius: 45px;
    border: none;

}

.f1 {
    padding: 40px;
}

.f1 p {
    font-family: "Public Sans", sans-serif;
    color: #ffffffc5;
    font-size: 25px;
}

.f2 h1 {
    padding-top: 20px;
    font-family: "Rubik", sans-serif;
    font-size: 40px;
}

.f2 p {
    font-family: "Public Sans", sans-serif;
    font-size: 20px;
    color: #ffffffc5;
}

.f3 {
    padding-left: 50px;
}

.f3 h1 {
    padding-top: 20px;
    font-family: "Rubik", sans-serif;
    font-size: 40px;
}

.f3 p {
    font-family: "Public Sans", sans-serif;
    font-size: 20px;
    color: #ffffffc5;
}

.f4 {

    padding-top: 20px;
    padding-left: 60px;
}

.f4 h1 {
    font-size: 40px;
    font-family: "Rubik", sans-serif;
}

.f4 p {
    color: #ffffffc5;
    font-size: 20px;
    font-family: "Public Sans", sans-serif;
}

.sub {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.sub input {

    background-color: rgba(53, 36, 109, 0.88);
    text-align: center;
    font-size: 20px;
    padding-left: 10px;
    height: 53px;
    width: 300px;
    border-radius: 5px;
    border: none;
}

.sub #i1 {
    text-align: center;
    position: relative;
    left: 58px;
    top: 13px;
    color: rgba(255, 250, 250, 0.835);
    font-size: 25px;
    border-radius: 0px;
}

.sub button {
    background-color: tomato;
    justify-content: center;
    text-align: center;
    height: 52px;
    width: 50px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
}

.c {
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: "Public Sans", sans-serif;
    font-size: 30px;
    text-align: center;
    position: relative;
    bottom: 1241px;
    color: #ffffffc5;
    background-color: rgb(23, 13, 56);
}
