* {
    margin: 0; 
    padding: 0;
}
body {
    background-color: #000000;
    margin: 0;
    padding: 0;
}


.div1 {
    position: sticky;
    top: 0%;
}



img {
    height: 43px;
}

.navbar {
    padding: 30px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.75);
    align-items: center;
}
.list {
    font-size: 23px;
    font-family: "Roboto", sans-serif;
    display: flex;
    gap: 30px;
    list-style: none;

}

.list :hover {
    color: white;
    font-size: 25px;
    text-decoration: underline rgb(250, 250, 170);
}

#button {
    display: flex;
    gap: 34px;
    font-size: 25px;
    padding-right:50px;
}

#button li {
    color: #f4f4f4;
    list-style: none;
    text-align: center;
}

.i1:hover {
    color: #f70000;
    font-size: 30px;
}

.i2:hover {
    color: #78d0f6;
    font-size: 35px;
}

.i3:hover {
    color: #f0ff18;
    font-size: 30px;
}


.div2 {
    font-family: "Rubik", sans-serif;
    color: rgb(250, 250, 170);
    background-color: rgb(0, 0, 0);
    text-align: center;
    font-size: 60px;
    padding-top: 90px;

}

.buy1 {
    /* position: relative; */
    /* bottom: 95px;*/
    background-color: rgb(250, 250, 170);
    color: rgb(3, 3, 35);
    border: none;
    border: 1px solid;
    border-radius: 33px;
    height: 62px;
    width: 200px;
    font-size: 21px;
    font-family: "Rubik", sans-serif;
}
.buy1:hover {
    background-color: white;
    font-weight: bold
}

.div2 h6 {
    font-family: "Public Sans", sans-serif;
    font-size: 34px;
    color: #ffffff;
    font-weight: lighter;

}

.sado1 {
    font-size: 200px;
    text-align: center;
    color: rgba(56, 56, 86, 0.479);
}

.div3 {
    /* position: relative; */
    background-color: rgb(0, 0, 0);
    /* display: flex; */
    justify-content: center;
    text-align: center;

}

.div3 img {

    /* padding-left: 60px; */
    height: 420px;
    /* justify-content: center; */
        position: absolute;
        right: 38px;
        top:600px;
}

.div4 {
    /* padding-top: 60px;
    padding-left: 30px;
    padding-right: 30px; */
    padding: 50px;
    padding-top: 200px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-around;
    gap: 100px;
    font-family: "Public Sans", sans-serif;
    background-color: rgb(255, 255, 255);
}

.div4 i {
    align-items: center;
    font-size: 44px;
    color: rgb(161, 161, 30);

}

.div4 h1 {
    font-size: 40px;
    align-items: center;
    color: rgb(42, 1, 1);

}

#ch {
    font-family: "Rubik", sans-serif;
    color: rgba(31, 2, 2, 0.641);
    font-size: 20px;
}

.div5 {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding-top: 100px;
    background-color: #00000000;
}

#dib51 {
    margin-left: 25px;
    border-radius: 15px;
    background-color: #c8cb40;
}

#dib51 img {
    position: relative;
    top: 20px;
    left: 20px;
    height: 400px;
    border-radius: 15px;

}

#dib52 {
    padding-left: 30px;
    color: white;
}

#dib52 h1 {
    font-family: "Rubik", sans-serif;
    padding-left: 50px;
    font-size: 70px;
}

#dib52 p {
    font-family: "Public Sans", sans-serif;
    color: rgba(245, 250, 255, 0.778);
    /* position: relative;
    bottom: 30px; */
    padding-left: 52px;
    font-size: 24px;
}

#dib52 button {
    background-color: rgb(255, 237, 156);
    color: #000000;
    margin-top: 45px;
    margin-left: 57px;
    height: 68px;
    width: 180px;
    border: none;
    border-radius: 35px;
    font-size: 20px;
}
#dib52 button:hover{
    background-color: white;
    
}

h2 {
    font-family: "Rubik", sans-serif;
    color: #373732b5;
    font-size: 220px;
    padding-left: 60px;
}

.div6 {
    gap: 100px;
    display: flex;
    justify-content: center;
    background-color: white;
}

.div6 h1 {
    padding-top: 100px;
    padding-left: 30px;
    font-family: "Rubik", sans-serif;

    font-size: 65px;

}

.div6 p {
    color: #000000a3;
    font-size: 20px;
    font-family: "Public Sans", sans-serif;
    padding-left: 30px;
}

.div6 img {
    padding-top: 80px;
    height: 500px;
}
.div6 button {
    margin-top: 40px;
    margin-left: 30px;
    height: 68px;
    width: 180px;
    border: none;
    border-radius: 35px;
    background-color: rgb(255, 237, 156);
    font-size: 20px;

}
.div6 button:hover{
    background-color: black;
    color:rgb(255, 237, 156) ;
}

.div7 {
    gap: 100px;
    /* position: relative;
    bottom: 470px; */
    padding-top: 30px;
    background-color: white;
    display: flex;
    justify-content: center;

}

.div7 img {
    padding-left: 40px;
    height: 500px;
}

.div7 h1 {
    padding-left: 30px;
    font-family: "Rubik", sans-serif;

    font-size: 65px;

}

.div7 p {
    color: #000000a3;
    font-size: 20px;
    font-family: "Public Sans", sans-serif;
    padding-left: 30px;
}

.div7 button {
    margin-top: 40px;
    margin-left: 30px;
    height: 68px;
    width: 180px;
    border: none;
    border-radius: 35px;
    background-color: rgb(255, 237, 156);
    font-size: 20px;

}
.div7 button:hover{
    background-color: black;
    color:rgb(255, 237, 156) ;
}
.vidb {
    background-image: url(images/video-background.jpg);
    height: 550px;
    padding-left: 685px;
     /* display: flex;  */
    justify-content: center;
}
.vidb h1{
    font-family: "Rubik", sans-serif;
    font-size: 70px;
    padding: 30px;
    color:rgba(146, 130, 130, 0.651);
}
.vidb i{
    padding-top: 80px;
    align-items: center;
    font-size: 100px;
    /* padding-left: 700px;     */
    color: rgba(226, 210, 210, 0.605);
}
.vidb i:hover{
    /* font-size:110px ; */
    color: #907a3fd4;
}




.div8 {
    padding: 60px;
    background-color: #000000;
    color: white;
    text-align: center;
}
.div8:hover{
    color: rgb(255, 237, 156);
}

.div8 h1 {
    text-align: center;
    font-size: 70px;
    font-family: "Rubik", sans-serif;
}

.div8 p {
    padding-top: 30px;
    font-size: 30px;
    color: rgba(245, 245, 245, 0.705);
}
/* *{
    margin: 0;
    padding: 0;
} */
.imp{
    /* padding-top: 100px; */
    margin-left: 30px;
    width: fit-content;
    /* display: flex; */
    
}
.seen1{
    display: flex;
 
    justify-content:start;
    gap: 60px;
}

.seen2{
    padding-top: 100px;
    display: flex;
    gap: 60px;
    padding-bottom: 30px;
}
.imp i{
    background-color:rgb(221, 221, 79);
    padding: 20px;
    font-size: 40px;
    border: none;
    border-radius: 200%;
}
.imp h1{
    font-family: "Rubik", sans-serif;
    padding-top: 40px;
    font-weight: bolder;
}
.imp p{
    color: #00435fcc;
    font-family: "Public Sans", sans-serif;
    /* text-align: center; */
    padding-top: 20px;
    font-size: 25px;
}

.davidA #p2{
    /* padding-top: 50px; */
    font-size: 25px;
}
.david1{
    padding-top: 120px;
   
    display: flex;
    justify-content:space-between ;
    gap: 200px;
    background-color: white;
}
.side{
    margin-right: 30px;
    
    background-color:rgb(221, 221, 79);
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;
}
.side  #i1{
    height: 300px;
   position: relative;
   bottom: 120px;
   left: 10px
   
  
}
.side #i2{
    height: 400px;
    width: 550px;
  position: relative;
  top: 35px;
 left: 35px;
}

.div9 {
    padding: 40px;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 10px;
}

.div9A {
    font-family: "Rubik", sans-serif;
    background-color: rgba(89, 78, 78, 0.39);
    border: none;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    color: white;

}


.div9A img {
    border: none;
    padding-bottom: 20px;
    border-radius: 10px;
    height: 400px;

}
.div9A img:hover{
   
    border-radius: 100%;
    animation-name: disco;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes disco {
    
    30%{
        
        rotate: 20deg;
    }
   
    70%{
       
        rotate: -20deg;
    }
} 
.div9A p {
    padding: 20px;
    font-family: "Public Sans", sans-serif;
    gap: 40px;
    font-size: 22px
}

.div9A del {
    font-family: "Public Sans", sans-serif;
    padding-left: 40PX;
    color: rgba(255, 255, 255, 0.625);
}
.Footer {
    padding-top: 40px;
    display: flex;
    gap: 20px;
    justify-content: center;
    color: white;
    background-color: rgb(23, 13, 56);
}

.Footer img {
    padding-top: 10px;
    height: 50px;
}

#Idiv {
    padding: 30px;
    padding-left: 10px;
    display: flex;
    gap: 30px;
}

#Idiv i {
    padding: 15px;
    font-size: 30px;
    color: #ffffff;
    background-color: rgba(69, 54, 120, 0.915);
    border-radius: 45px;
    border: none;

}
.f1 p {
    padding-top: 30px;
    font-family: "Public Sans", sans-serif;
    color: #ffffffc5;
    font-size: 22px;
}

.f2 h1 {
    padding-top: 20px;
    font-family: "Rubik", sans-serif;
    font-size: 40px;
}

.f2 p {
    padding-top: 30px;
    font-family: "Public Sans", sans-serif;
    font-size: 20px;
    color: #ffffffc5;
}

.f3 {
    padding-left: 50px;
}

.f3 h1 {
    padding-top: 20px;
    font-family: "Rubik", sans-serif;
    font-size: 40px;
}

.f3 p {
    padding-top: 30px;
    font-family: "Public Sans", sans-serif;
    font-size: 20px;
    color: #ffffffc5;
}

.f4 {

    padding-top: 20px;
    padding-left: 60px;
}

.f4 h1 {
    font-size: 40px;
    font-family: "Rubik", sans-serif;
}

.f4 p {
    padding-top: 30px;
    color: #ffffffc5;
    font-size: 20px;
    font-family: "Public Sans", sans-serif;
}

.sub {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.sub input {

    background-color: rgba(53, 36, 109, 0.88);
    text-align: center;
    font-size: 20px;
    padding-left: 10px;
    height: 53px;
    width: 300px;
    border-radius: 5px;
    border: none;
}

.sub #i1 {
    text-align: center;
    position: relative;
    left: 58px;
    top: 13px;
    color: rgba(255, 250, 250, 0.835);
    font-size: 25px;
    border-radius: 0px;
}

.sub button {
    background-color: tomato;
    justify-content: center;
    text-align: center;
    height: 52px;
    width: 50px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
}

.c {
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: "Public Sans", sans-serif;
    font-size: 30px;
    text-align: center;
    position: relative;
    /* bottom: 1241px; */
    color: #ffffffc5;
    background-color: rgb(23, 13, 56);
}
